.Country_page{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 5rem;
}

.Country_page form option{
    width: 4rem;
}

.Country_page button{
    width: 3rem;
}

.Country_page img{
    border: 2px;
    box-shadow: 4px;
}