.Side_bar{
    top:4rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 10%;
    
}

.Side_bar a{
    margin-top: 5rem;
    text-decoration: none;
    color: black;
}