.Visualise_page{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 5rem;
}

.Visualise_page form option{
    width: 4rem;
}

.Visualise_page button{
    width: 3rem;
}

.Visualise_page img{
    border: 2px;
    box-shadow: 4px;
    
}